body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #1A1B61;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #000000;
    font-size: 36px;
}

h2 {
    color: #000000;
    font-size: 28px;
}
